html{
  background: url("../images/Background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gameboard {
  width: 450px;
  height: 450px;
  margin:100px auto;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px; /* future proofing */
  -khtml-border-radius: 30px; /* for old Konqueror browsers */
}

.leftTopCorner {
  border-top-left-radius: 25px;
}
.rightTopCorner {
  border-top-right-radius: 25px;
}
.rightBottomCorner {
  border-bottom-right-radius: 25px;
}
.bottomLeftCorner {
  border-bottom-left-radius: 25px;
}

.gameCells {
  width: 48px;
  height: 48px;
  float: left;
}

.cellborder {
  border: 1px solid #706b6b;
}

.transparent {
  border: 4px solid;
  background:#7f7f7f;
  background:rgba(255,255,255,0.5);
}

.title{
  width: 450px;
  //height: 100px;
  margin:100px auto;
}

.level{
  width: 450px;
  color: #ffffff;
  text-align: center;
}

.lineUp{
  color: #ffffff;
  float: left;
  text-align: center;
  width: 150px;
}

.croissant-highlighted, .croissant, .cupcake-highlighted, .cupcake, .danish-highlighted,
.danish, .donut-highlighted, .donut, .macaroon-highlighted, .macaroon,
.sugarcookie-highlighted, .sugarcookie
{ display: inline-block; background: url('../images/cookie.png') no-repeat; overflow: hidden; text-align: left; }

.croissant-highlighted { background-position: -0 -0; width: 48px; height: 48px; }
.croissant { background-position: -48px -0; width: 48px; height: 48px; }
.cupcake-highlighted { background-position: -96px -0; width: 48px; height: 48px; }
.cupcake { background-position: -0 -48px; width: 48px; height: 48px; }
.danish-highlighted { background-position: -48px -48px; width: 48px; height: 48px; }
.danish { background-position: -96px -48px; width: 48px; height: 48px; }
.donut-highlighted { background-position: -0 -96px; width: 48px; height: 48px; }
.donut { background-position: -48px -96px; width: 48px; height: 48px; }
.macaroon-highlighted { background-position: -96px -96px; width: 48px; height: 48px; }
.macaroon { background-position: -0 -144px; width: 48px; height: 48px; }
.sugarcookie-highlighted { background-position: -48px -144px; width: 48px; height: 48px; }
.sugarcookie { background-position: -96px -144px; width: 48px; height: 48px; }
