<!DOCTYPE html>
<html lang="en" ng-app="Waterson.CandySpin">
<head>
    <meta charset="UTF-8">
    <title>Candy Spin</title>
    <script src="thirdparty/bower_components/angular/angular.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
</head>
<body ng-controller="GameboardController as game">
    <div class="title">
        <h1 class="level">Level: {{game.level}}</h1>
        <h2 class="lineUp">Target: {{game.target}}</h2>
        <h2 class="lineUp">Moves: {{game.moves}}</h2>
        <h2 class="lineUp">Score: {{game.score}}</h2>
    </div>
    <div class="title">
        <button ng-click="game.createGameboard()">Start Game</button>
        <button ng-click="game.changeLevel()">Next Level</button>
    </div>
    <div class="gameboard transparent">
        <div class="gameCells cellborder leftTopCorner {{game.gameboardGrid[0][0]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[0][1]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[0][2]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[0][3]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[0][4]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[0][5]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[0][6]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[0][7]}}"></div>
        <div class="gameCells cellborder rightTopCorner {{game.gameboardGrid[0][8]}}"></div>

        <div class="gameCells cellborder {{game.gameboardGrid[1][0]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[1][1]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[1][2]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[1][3]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[1][4]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[1][5]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[1][6]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[1][7]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[1][8]}}"></div>

        <div class="gameCells cellborder {{game.gameboardGrid[2][0]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[2][1]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[2][2]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[2][3]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[2][4]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[2][5]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[2][6]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[2][7]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[2][8]}}"></div>

        <div class="gameCells cellborder {{game.gameboardGrid[3][0]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[3][1]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[3][2]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[3][3]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[3][4]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[3][5]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[3][6]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[3][7]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[3][8]}}"></div>

        <div class="gameCells cellborder {{game.gameboardGrid[4][0]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[4][1]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[4][2]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[4][3]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[4][4]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[4][5]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[4][6]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[4][7]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[4][8]}}"></div>

        <div class="gameCells cellborder {{game.gameboardGrid[5][0]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[5][1]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[5][2]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[5][3]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[5][4]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[5][5]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[5][6]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[5][7]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[5][8]}}"></div>

        <div class="gameCells cellborder {{game.gameboardGrid[6][0]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[6][1]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[6][2]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[6][3]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[6][4]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[6][5]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[6][6]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[6][7]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[6][8]}}"></div>

        <div class="gameCells cellborder {{game.gameboardGrid[7][0]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[7][1]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[7][2]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[7][3]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[7][4]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[7][5]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[7][6]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[7][7]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[7][8]}}"></div>

        <div class="gameCells cellborder bottomLeftCorner {{game.gameboardGrid[8][0]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[8][1]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[8][2]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[8][3]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[8][4]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[8][5]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[8][6]}}"></div>
        <div class="gameCells cellborder {{game.gameboardGrid[8][7]}}"></div>
        <div class="gameCells cellborder rightBottomCorner {{game.gameboardGrid[8][8]}}"></div>
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
        <!--<game-cell></game-cell>-->
    </div>
</body>
<script src="scripts/app.js"></script>
</html>